[Unit]
Description=starting tango device zaber
Requires=network-online.target
After=network-online.target

[Service]
Type=forking
GuessMainPID=no
ExecStart=/home/pi/Tango_Devices/Zaber/device_wrapper.sh
WorkingDirectory=/home/pi/Tango_Devices/Zaber
User=pi
Restart=on-abort
StandardOutput=journal
StandardError=journal

[Install]
WantedBy=multi-user.target
